<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237848982037-mbjndmk3023lb5614ksdejkq5q3iiad2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237848982037-mbjndmk3023lb5614ksdejkq5q3iiad2</string>
	<key>API_KEY</key>
	<string>AIzaSyBEWIuzgK-EEa33ARkaykVYYG577y30_xI</string>
	<key>GCM_SENDER_ID</key>
	<string>237848982037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floatingbubble</string>
	<key>PROJECT_ID</key>
	<string>floating-bubble</string>
	<key>STORAGE_BUCKET</key>
	<string>floating-bubble.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237848982037:ios:b99dd20ac9c8335284141c</string>
</dict>
</plist>